@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.toolbar {
  display: flex;
  gap: 12px 8px;

  &_direction_column {
    flex-direction: column;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }
}