@import '../../styles/variables.scss';

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__title, &__logo {
    font-size: 24px;
    font-weight: 500;
  }

  &__logo {
    color: $blue-grey-500;
  }
}