@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.footer {
  padding: 8px 0;
  background-color: #f0f2f3;
  color: #7f8285;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px 12px;
    list-style: none;
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #e00000;
    }
  }
}
